<md-toolbar color="primary" class="main-toolbar">
  <span>Application Title</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <button md-icon-button color="white" [md-menu-trigger-for]="menu">
      <md-icon>account_circle</md-icon>
    </button>
</md-toolbar>
<md-menu x-position="before" #menu="mdMenu" class="account-menu">
    <button md-menu-item (click)="logout()">Logout</button>
    <button md-menu-item>Profile</button>
</md-menu>