<div class="component-container">
    <div class="col-md-12 col-xs-12 component-toolbar">
        <div class="col-md-8 col-xs-12 component-title">
            <span class="component-title-text">User Management</span>
        </div>
        <div class="col-md-4 col-xs-12 component-actionbar">
            <div class="col-md-4 col-xs-12 actionbar-button">
                <button md-icon-button routerLink="/admin/users" routerLinkActive="active" color="white">
                    <md-icon class="actionbar-button-icon">person_add</md-icon>
                </button>
                New Users
            </div>
            <div class="col-md-4 col-xs-12 actionbar-button">
                <button md-icon-button routerLink="/admin/roles" routerLinkActive="active" color="white">
                    <md-icon class="actionbar-button-icon">local_offer</md-icon>
                </button>
                Roles
            </div>
            <div class="col-md-4 col-xs-12 actionbar-button">
                <button md-icon-button routerLink="/admin/permissions" routerLinkActive="active" color="white">
                    <md-icon class="actionbar-button-icon">vpn_key</md-icon>
                </button>
                Permissions
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xs-12 data-table-card">
        <input
            type='text'
            style='padding:8px;margin:15px;width:30%;'
            placeholder='Type to filter the name column...'
            [ngModel]='val'
            (ngModelChange)='updateFilter($event)'
        />
        <datatable
            class='material striped'
            [rows]='users'
            [options]='options'
            (onPageChange)='onPage($event)'>
        </datatable>
    </div>
</div>